.hidden {
    display: none;
}

body {
    /* background: url(img/cifrado.jpg) no-repeat center center fixed; */
    height: 100px;
    background-size: cover;
}

textarea {
    background-color: rgba(192,192,192,0.3) !important;
}
